<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

<p md-dialog-title>There are not enough ingredients to create this product, please buy the missing items. </p>

<button mdbBtn type="submit" class="btn btn-danger btn-sm" mdbWavesEffect (click)="onClose();"> <i class="fa fa-window-close"></i> Close </button>