<app-home></app-home>
<div class="container-fluid" *ngIf="isLoggedIn">
	<div class="jumbotron">
        <h1>Users</h1>
        <table mat-table [dataSource]="users" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header text-center> User Name </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>

            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
                <td mat-cell *matCellDef="let element"> {{element.password}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell  *matHeaderCellDef  class="text-center"> Actions </th>
                <td mat-cell *matCellDef="let element"  class="text-center">
                    <div *ngIf="element.role != 'ADMIN'">
                        <button mdbBtn class="btn btn-danger btn-sm" type="button" title="Delete"  (click)="delete(element)">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                        <button mdbBtn class="btn btn-mdb btn-sm" color="blue-grey" type="button" title="Set to Admin"  (click)="setAdmin(element)">
                            Set to Admin
                        </button>
                    </div>
                    <div *ngIf="element.role != 'USER'">
                        <button mdbBtn class="btn btn-danger btn-sm" type="button" title="Delete"  (click)="delete(element)">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                        <button mdbBtn class="btn btn-light btn-sm" type="button" title="Set to User"  (click)="setUser(element)">
                            Set to User
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</div>
