<div class="container-fluid">
    <div class="jumbotron">
        <h2 md-dialog-title>Add new recipe</h2>
        <form [formGroup]="recipeForm">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput #name formControlName="name" required/>
            </mat-form-field>
        </form>

        <div *ngIf="!recipeForm.controls['name'].invalid; else elseBlock">
            <button mdbBtn type="submit" class="btn btn-primary" mdbWavesEffect routerLink="/recipes" 
                (click)="onCreate();">
                <i class="fa fa-plus"></i> Add
            </button>
        </div>
    </div>
</div>

<ng-template #elseBlock>Please fill the parameters properly.</ng-template>