<form>
    <div class="form-group">
        <mat-card-header>
            <mat-card-title>
                Ingredient Search
            </mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>
            Please start typing.
        </mat-card-subtitle>
        <input class="form-control" #searchBox id="search-box" (input)="search(searchBox.value)" />
    </div>

    <div class="form-group row">  
        <li class="list-group-item borderless" *ngFor="let ingredient of ingredients$ | async">
            <a class="btn btn-light btn-sm" routerLink="/ingredients/detail/{{ingredient.id}}">
                {{ingredient.name}}
            </a>
        </li>
    </div>
</form>