<h1></h1>
<div class="container">
    <div class="jumbotron text-center">
		<h1>Welcome! Please log in or register!</h1>
		<div *ngIf="baseService.isLoggedIn == false">
			<form [formGroup]="loginForm">
				<div>
					<mat-form-field>
						<mat-label>Name</mat-label>
						<input matInput #name formControlName="username" required/>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field>
						<mat-label>Password</mat-label>
						<input matInput #name type="password" formControlName="password" required/>
					</mat-form-field>
				</div>
			</form>
			<div class="row">
				<div class="col-lg-6 text-right">
					<button mdbBtn type="button" class="btn btn-success" color="dark-green" mdbWavesEffect (click)="register()">
						<i class="fa fa-unlock"></i> Register
					</button>
				</div>
				<div class="col-lg-6 text-left">
					<button mdbBtn type="button" class="btn btn-info" color="indigo" mdbWavesEffect (click)="login()"> 
						<i class="fa fa-sign-in"></i> Log In
					</button>
				</div>			
			</div>
		</div>
	</div>
</div>
