<app-home></app-home>

<div class="container-fluid" *ngIf="isLoggedIn">
	<div class="jumbotron" *ngIf="product">
		<h1>{{product.name | uppercase }} Product Details </h1>
		<div class="details">
			

			<div class="form-group row">
				<label class="col-lg-4">Cost: </label>
				<div class="col-lg-8">{{product.price | currency:'HUF':'Ft':'.0':'fr'}}</div>		
			</div>

			<div class="form-group row">
				<label class="col-lg-4">Quantity: </label>
				<div class="col-lg-8">
					<input class="form-control" [(ngModel)]="product.quantity" placeholder="quantity"/>
				</div>		
			</div>
		</div>
		<div>
			<div class="row detailsButton">
				<div class="col-sm-2 text-right">
					<button mdbBtn type="button" class="btn btn-info" color="indigo" mdbWavesEffect (click)="goBack()">
						<i class="fa fa-arrow-circle-left"></i> Back
					</button>
				</div>
				<div class="col-lg-3">
					<button mdbBtn type="button" class="btn btn-success" color="dark-green" mdbWavesEffect (click)="save()"> 
						<i class="fa fa-save"></i> Save 
					</button>
				</div>			
				<div class="col-lg-6">
					<button mdbBtn type="button" class="btn btn-elegant" color="elegant" mdbWavesEffect (click)="sellProduct()"> 
						<i class="fa fa-send"></i> Sell Product 
					</button>
				</div>		
			</div>
		
		</div>
	</div>
</div>

<div class="container-fluid">	
	<div class="jumbotron" *ngIf="product">
		<div class="col-sm-2">
			<button mdbBtn type="button" class="btn btn-amber" mdbWavesEffect (click)="getRelevantSellings()">
				<i class="fa fa-dollar"></i> Get Earnings
			</button>
		</div>
		<h1></h1>

		<table mat-table *ngIf="sellings" [dataSource]="sellings" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="customerGroup">
                <th mat-header-cell *matHeaderCellDef mat-sort-header text-center> Customer Group </th>
                <td mat-cell *matCellDef="let element"> {{element.customerGroup}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="earning">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Earnings </th>
                <td mat-cell *matCellDef="let element"> {{element.earning | currency:'HUF':'Ft':'.0':'fr'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell  *matHeaderCellDef  class="text-center"> Delete </th>
                <td mat-cell *matCellDef="let element"  class="text-center">
					<button mdbBtn class="btn btn-danger btn-sm" type="button" title="Delete"  (click)="delete(element)">
						<i class="fa fa-trash"></i>
					</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
	</div>
</div>