<app-home></app-home>

<div class="container-fluid" *ngIf="isLoggedIn">
	<div class="jumbotron">
		<h1>Suppliers</h1>
		<p>Here all available suppliers are shown.</p>

		<div class="suppliers">
			<ul class="list-group">
				<li class="list-group-item borderless" *ngFor="let supplier of suppliers">
					<div class="btn-group">
						<a class="btn btn-light" routerLink="/suppliers/detail/{{supplier.id}}">
							{{supplier.name}}
						</a>
						<button *ngIf="!isAdmin"  mdbBtn class="btn float-right suppliersButton" type="button" title="Delete" (click)="disable(supplier)">
							<i class="fa fa-trash"></i>
						</button>
						<button *ngIf="isAdmin && supplier.active" mdbBtn class="btn float-right ingredientsButton" type="button" title="Deactivate" (click)="disable(supplier)">
							<i class="fa fa-toggle-on"></i>
						</button>
						<button *ngIf="isAdmin && !supplier.active" mdbBtn class="btn float-right ingredientsButton" type="button" title="Activate" (click)="enable(supplier)">
							<i class="fa fa-toggle-off"></i>
						</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<app-supplier-add *ngIf="isLoggedIn"></app-supplier-add>