<app-home></app-home>

<div class="container-fluid" *ngIf="isLoggedIn">
	<div class="jumbotron" *ngIf="supplier">
		<h1>{{supplier.name | uppercase }} Supplier Details </h1>
		<div class="details">

			<div class="form-group row">
				<label class="col-lg-4">Account Number: </label>
				<div class="col-lg-8">
					<input class="form-control" [(ngModel)]="supplier.accountNumber" placeholder="accountNumber"/>
				</div>		
			</div>

			<div class="form-group row">
				<label class="col-lg-4">Billing Address: </label>
				<div class="col-lg-8">
					<input class="form-control" [(ngModel)]="supplier.billingAddress" placeholder="billingAddress"/>
				</div>		
			</div>

			<div class="row">
				<div class="col-lg-4">
					<button mdbBtn type="button" class="btn btn-info" color="indigo" mdbWavesEffect (click)="goBack()">
						<i class="fa fa-arrow-circle-left"></i> Back
					</button>
				</div>
				<div class="col-lg-8">
					<button mdbBtn type="button" class="btn btn-success" color="dark-green" mdbWavesEffect (click)="save()"> 
						<i class="fa fa-save"></i> Save 
					</button>
				</div>			
			</div>

		</div>
	</div>
</div>