<app-home></app-home>

<div class="container-fluid" *ngIf="isLoggedIn">
	<div class="jumbotron">
		<h1>Recipes</h1>
		<p>Here all available recipes are shown with possibility of adding new ones.</p>

		<div class="recipes">
			<ul class="list-group">
				<li class="list-group-item borderless" *ngFor="let recipe of recipes">
					<div class="btn-group">
						<a class="btn btn-light" routerLink="/recipes/detail/{{recipe.id}}">
							{{recipe.name}}
						</a>
						<button *ngIf="!isAdmin" mdbBtn class="btn float-right recipesButton" type="button" title="Delete"  (click)="disable(recipe)">
							<i class="fa fa-trash"></i>
						</button>
						<button mdbBtn *ngIf="isAdmin && recipe.active" class="btn float-right recipesButton" type="button" title="Deactivate" (click)="disable(recipe)">
							<i class="fa fa-toggle-on"></i>
						</button>
						<button mdbBtn *ngIf="isAdmin && !recipe.active" class="btn float-right recipesButton" type="button" title="Activate" (click)="enable(recipe)">
							<i class="fa fa-toggle-off"></i>
						</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<app-recipe-add *ngIf="isLoggedIn"></app-recipe-add>