<app-home></app-home>

<div class="container-fluid" *ngIf="isLoggedIn">
	<div class="jumbotron" *ngIf="ingredient">
		<h1>{{ingredient.name | uppercase }} Ingredient Details </h1>
		<div class="details">
			
			<div class="form-group row">
				<label class="col-lg-4">Cost: </label>
				<div class="col-lg-4">
					<input class="form-control" [(ngModel)]="ingredient.cost" placeholder="cost"/>
				</div>
				<div class="col-lg-4">
					Ft
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-4">Quantity: </label>
				<div class="col-lg-4">
					<input class="form-control" [(ngModel)]="ingredient.quantity" placeholder="quantity"/>
				</div>		
			</div>
			
			<div class="form-group row">
				<label class="col-lg-4">Supplier: </label>		
				<div class="col-lg-8">{{ingredient.supplier.name}}</div>	
			</div>

			<div class="row">
				<div class="col-lg-4">
					<button mdbBtn type="button" class="btn btn-info" color="indigo" mdbWavesEffect (click)="goBack()">
						<i class="fa fa-arrow-circle-left"></i> Back
					</button>
				</div>
				<div class="col-lg-8">
					<button mdbBtn type="button" class="btn btn-success" color="dark-green" mdbWavesEffect (click)="save()"> 
						<i class="fa fa-save"></i> Save 
					</button>
				</div>			
			</div>
		
		</div>
	</div>
</div>