<div class="container-fluid">
    <div class="jumbotron">
        <h2 md-dialog-title>Add new ingredient</h2>
        <form [formGroup]="ingredientForm">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput #name formControlName="name" required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Cost</mat-label>
                    <input matInput type="number" #cost formControlName="cost" required/>
                    <mat-hint>Only number is allowed.</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" #cost formControlName="quantity" required/>
                    <mat-hint>Only number is allowed.</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Supplier</mat-label>
                    <mat-select formControlName="supplierName" required>
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier">{{ supplier.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>          
        </form>

        <div *ngIf="!ingredientForm.controls['name'].invalid && 
            !ingredientForm.controls['cost'].invalid && 
            !ingredientForm.controls['quantity'].invalid && 
            !ingredientForm.controls['supplierName'].invalid; else elseBlock">
            <button mdbBtn type="submit" class="btn btn-primary" mdbWavesEffect routerLink="/ingredients" 
                (click)="add();">
                <i class="fa fa-plus"></i> Add
            </button>
        </div>
    </div>
</div>

<ng-template #elseBlock>Please fill the parameters properly.</ng-template>