<h2 md-dialog-title>Please add the selled quantity and the chosen discount group. </h2>


<div class="jumbotron">
  <form [formGroup]="sellingForm">
    <div>
      <mat-form-field>
        <mat-label>Customer Groups</mat-label>
        <mat-select formControlName="addedGroup" required>
          <mat-option *ngFor="let group of groups" [value]="group">{{ group.name }}</mat-option>
        </mat-select>
      </mat-form-field> 
    </div>
    <div>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput type="number" #quantity formControlName="quantity" required/>
        <mat-hint>Only number is allowed.</mat-hint>
      </mat-form-field>
    
    </div>
  </form>
</div>

<div *ngIf="!sellingForm.controls['quantity'].invalid && !sellingForm.controls['addedGroup'].invalid; else elseBlock">
  <button mdbBtn type="submit" class="btn btn-primary" mdbWavesEffect (click)="onSubmit();"> <i class="fa fa-plus"></i> Add </button>
</div>
<ng-template #elseBlock>Please fill the parameters properly.</ng-template>