.px-md-2:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

li.borderless {
  border: 0 none;
  margin-top: 0px;
}

table {
  width: 100%;
}
