<app-home></app-home>
<div class="grid-container" *ngIf="isLoggedIn">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
          <mat-card-header>
           <mat-card-title>
             Financial Report
           </mat-card-title>
         </mat-card-header>
         <mat-card-content> 
          <mat-card-subtitle>
            Total Spent Money characteristics.
          </mat-card-subtitle>    
          <table mat-table [dataSource]="costTable" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cost </th>
                  <td mat-cell *matCellDef="let element"> {{element.price | currency:'HUF':'Ft':'.0':'fr'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayed1Columns" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayed1Columns;"></tr>

              </table>
            </mat-card-content>

         <mat-card-content> 
          <mat-card-subtitle>
            Profit from selled Products.
          </mat-card-subtitle>    
          <table mat-table [dataSource]="profitTable" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Profit </th>
                  <td mat-cell *matCellDef="let element"> {{element.price | currency:'HUF':'Ft':'.0':'fr'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="[displayed1Columns[1]]" ></tr>
                <tr mat-row *matRowDef="let row; columns: [displayed1Columns[1]];"></tr>

              </table>
            </mat-card-content>
            
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <mat-card class="dashboard-card">
         <mat-card-header>
           <mat-card-title>
             Planning
           </mat-card-title>
         </mat-card-header>
         <mat-card-content>

          <mat-card-subtitle>
            Please buy the following ingredients because we are low on them:
          </mat-card-subtitle>			
			    <div class="form-group row">           
				    <li class="list-group-item borderless"  *ngFor="let ingredient of ingredientsToBuy">
              <div class="btn-group">
                <a class="btn btn-light" routerLink="/ingredients/detail/{{ingredient.id}}">
                  <span class="badge badge-pill badge-primary float-left">{{ingredient.quantity}}</span>
                  {{ingredient.name}}
                </a>	
              </div>
            </li>
          </div>

          <mat-card-subtitle>
            Please produce the following Products because we are low on them:
          </mat-card-subtitle>			
          <div class="form-group row">           		
				    <li class="list-group-item borderless"  *ngFor="let product of productsToProduce">
              <div class="btn-group">
                <a class="btn btn-light" routerLink="/products/detail/{{product.id}}">
                  <span class="badge badge-pill badge-primary float-left">{{product.quantity}}</span>
                  {{product.name}}
                </a>	
              </div>
            </li>
          </div>

          <mat-card-subtitle>
            Following recipes cannot be used for producing new Products because we do not have enough ingredients:
          </mat-card-subtitle>			
          <div class="form-group row">           		
				    <li class="list-group-item borderless"  *ngFor="let recipe of cantProduce">
              <div class="btn-group">
                <a class="btn btn-light " routerLink="/products/detail/{{recipe.id}}">
                  {{recipe.name}}
                </a>	
              </div>
            </li>
			    </div>
           
         </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
          <app-ingredient-search></app-ingredient-search>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
          <app-product-search></app-product-search>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="4">
      <mat-card class="dashboard-card">
        <mat-card-header>
           <mat-card-title>
             Financial Report on selled Products
           </mat-card-title>
         </mat-card-header>
         <mat-card-content>
            <mat-card-subtitle>
              Report per customer group:
            </mat-card-subtitle>
            <table mat-table [dataSource]="sellingsGrpByCustomer" class="mat-elevation-z8">

              <ng-container matColumnDef="grpBy">
                <th mat-header-cell *matHeaderCellDef> Customer Group </th>
                <td mat-cell *matCellDef="let element"> {{element.grpBy}} </td>
              </ng-container>

              <ng-container matColumnDef="sum1">
                <th mat-header-cell *matHeaderCellDef> Total Selled Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.sum1}} </td>
              </ng-container>

              <ng-container matColumnDef="sum2">
                <th mat-header-cell *matHeaderCellDef> Total Earning </th>
                <td mat-cell *matCellDef="let element"> {{element.sum2 | currency:'HUF':'Ft':'.0':'fr'}} </td>
              </ng-container>

              <ng-container matColumnDef="sum3">
                <th mat-header-cell *matHeaderCellDef> Total Cost </th>
                <td mat-cell *matCellDef="let element"> {{element.sum3 | currency:'HUF':'Ft':'.0':'fr'}} </td>
              </ng-container>

              <ng-container matColumnDef="sum4">
                <th mat-header-cell *matHeaderCellDef> Total Profit </th>
                <td mat-cell *matCellDef="let element"> {{element.sum4 | currency:'HUF':'Ft':'.0':'fr'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <h1></h1>
            <mat-card-subtitle>
              Report per products:
            </mat-card-subtitle>
            <table mat-table [dataSource]="sellingsGrpByProduct" class="mat-elevation-z8">

              <ng-container matColumnDef="grpBy">
                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.grpBy.name}} </td>
              </ng-container>

              <ng-container matColumnDef="sum1">
                <th mat-header-cell *matHeaderCellDef> Total Selled Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.sum1}} </td>
              </ng-container>

              <ng-container matColumnDef="sum2">
                <th mat-header-cell *matHeaderCellDef> Total Earning </th>
                <td mat-cell *matCellDef="let element"> {{element.sum2 | currency:'HUF':'Ft':'.0':'fr'}} </td>
              </ng-container>

              <ng-container matColumnDef="sum3">
                <th mat-header-cell *matHeaderCellDef> Total Cost </th>
                <td mat-cell *matCellDef="let element"> {{element.sum3 | currency:'HUF':'Ft':'.0':'fr'}} </td>
              </ng-container>

              <ng-container matColumnDef="sum4">
                <th mat-header-cell *matHeaderCellDef> Total Profit </th>
                <td mat-cell *matCellDef="let element"> {{element.sum4 | currency:'HUF':'Ft':'.0':'fr'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
             
          </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="4">
      <mat-card class="dashboard-card">
          <mat-card-header>
           <mat-card-title>
             Product Report
           </mat-card-title>
         </mat-card-header>

         <mat-card-content> 
          <mat-card-subtitle>
            Current quantity of the Products.
          </mat-card-subtitle>          
          <div *ngIf="data.loaded"><chart [type]="type" [data]="data" [options]="options"></chart></div>
         </mat-card-content>

          <mat-card-subtitle>
            Cost of producing the Products.
          </mat-card-subtitle>              
         <mat-card-content>
          <table mat-table [dataSource]="products" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cost </th>
                  <td mat-cell *matCellDef="let element"> {{element.price | currency:'HUF':'Ft':'.0':'fr'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayed1Columns" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayed1Columns;"></tr>

              </table>
            </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>

