<app-home></app-home>

<div class="container-fluid" *ngIf="isLoggedIn">
	<div class="jumbotron">
		<h1>Products</h1>
		<p>Here all available products are shown.</p>

		<div class="products">
			<ul class="list-group">
				<li class="list-group-item borderless" *ngFor="let product of products">
					<div class="btn-group">
						<a class="btn btn-light" routerLink="/products/detail/{{product.id}}">
							<span class="badge badge-pill badge-primary float-left">{{product.quantity}}</span>
							{{product.name}}
						</a>
						<button mdbBtn *ngIf="!isAdmin" class="btn float-right productsButton" type="button" title="Delete" (click)="disable(product)">
							<i class="fa fa-trash"></i>
						</button>
						<button mdbBtn *ngIf="isAdmin && product.active" class="btn float-right productsButton" type="button" title="Deactivate" (click)="disable(product)">
							<i class="fa fa-toggle-on"></i>
						</button>
						<button mdbBtn *ngIf="isAdmin && !product.active" class="btn float-right productsButton" type="button" title="Activate" (click)="enable(product)">
							<i class="fa fa-toggle-off"></i>
						</button>

					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

