<div class="container-fluid">
    <div class="jumbotron">
        <h2 md-dialog-title>Add new supplier</h2>
        <form [formGroup]="supplierForm">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput #name formControlName="name" required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Account number</mat-label>
                    <input matInput #accountNumber formControlName="accountNumber"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Billing address</mat-label>
                    <input matInput #billingAddress formControlName="billingAddress"/>
                </mat-form-field>
            </div>
        </form>

        <div *ngIf="!supplierForm.controls['name'].invalid && 
            !supplierForm.controls['accountNumber'].invalid && 
            !supplierForm.controls['billingAddress'].invalid; else elseBlock">
            <button mdbBtn type="submit" class="btn btn-primary" mdbWavesEffect routerLink="/suppliers" 
                (click)="add();">
                <i class="fa fa-plus"></i> Add
            </button>
        </div>
    </div>
</div>

<ng-template #elseBlock>Please fill the parameters properly.</ng-template>