<app-home></app-home>

<div class="container-fluid" *ngIf="isLoggedIn">
	<div class="jumbotron" *ngIf="recipe">
        <h1>{{recipe.name | uppercase }} Recipe Details </h1>
        <div class="details">
			
			<div class="form-group row">
				<label class="col-lg-4">Cost: </label>
				<div class="col-lg-8">
					<p>{{recipe.cost | currency:'HUF':'Ft':'.0':'fr'}}</p>
                </div>		
            </div>    
		</div>
		<div> 
			<div class="form-group row">
				<label class="col-lg-1">Ingredients: </label>			
				<li class="list-group-item borderless"  *ngFor="let ingredient of recipe.ingredients">
					<div class="btn-group">
						<a class="btn btn-light btn-sm" routerLink="/ingredients/detail/{{ingredient.id}}">
							<span class="badge badge-pill badge-primary float-left">{{ingredient.quantity}}</span>
							{{ingredient.name}}
						</a>	
					</div>
				</li>
			</div>
			<div class="detailsButton">
				<div class="row">
					<div class="col-lg-2">
						<button mdbBtn type="button" class="btn btn-info" color="indigo" mdbWavesEffect (click)="goBack()">
							<i class="fa fa-arrow-circle-left"></i> Back
						</button>
					</div>
					<div class="col-lg-4">
						<button mdbBtn type="button" class="btn btn-success" color="dark-green" mdbWavesEffect (click)="addComment()"> 
							<i class="fa fa-comment"></i> Add New Comment
						</button>
					</div>	
					<div class="col-lg-3">
						<button *ngIf="possibleCreation" mdbBtn type="button" class="btn btn-elegant" color="elegant" mdbWavesEffect (click)="createProduct()"> 
							<i class="fa fa-send"></i> Create Product 
						</button>
					</div>			
				</div>  
			</div>			
		</div> 
    </div>
</div>

<div class="container-fluid" *ngIf="isLoggedIn">	
	<div class="jumbotron" *ngIf="recipe">
		<div class="col-sm-2">
			<button mdbBtn type="button" class="btn btn-amber" mdbWavesEffect (click)="getRelevantComments()">
				<i class="fa fa-comments"></i> Get Comments
			</button>
		</div>
	<h1></h1>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let comment of comments">
					<button mdbBtn class="btn btn-danger btn-sm" type="button" title="Delete"  (click)="deleteComment(comment)">
                        <i class="fa fa-trash"></i>
                    </button>
					{{comment.comment}}
			</li>
		</ul>
	</div>
</div>