<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark" [containerInside]="false" *ngIf="isLoggedIn">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="/dashboard">{{title}}</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/ingredients">Ingredients</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/suppliers">Suppliers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/recipes">Recipes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/products">Products</a>
          </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link waves-light" mdbWavesEffect href="/users">Users</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect (click)="logout();">Log Out</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect >Welcome {{ user }}! </a>
          </li>
        </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>