<app-home></app-home>

<div class="container-fluid" *ngIf="isLoggedIn">
	<div class="jumbotron">
		<h1>Ingredients</h1>
		<p>Here all available ingredients are shown with possibility of adding new ones.</p>

		<div class="ingredients">
			<ul class="list-group">
				<li class="list-group-item borderless" *ngFor="let ingredient of ingredients">
					<div class="btn-group">
						<a class="btn btn-light" routerLink="/ingredients/detail/{{ingredient.id}}">
							<span class="badge badge-pill badge-primary float-left">{{ingredient.quantity}}</span>
							{{ingredient.name}}
						</a>
						<button mdbBtn *ngIf="!isAdmin" class="btn float-right ingredientsButton" type="button" title="Delete" (click)="disable(ingredient)">
							<i class="fa fa-trash"></i>
						</button>
						<button mdbBtn *ngIf="isAdmin && ingredient.active" class="btn float-right ingredientsButton" type="button" title="Deactivate" (click)="disable(ingredient)">
							<i class="fa fa-toggle-on"></i>
						</button>
						<button mdbBtn *ngIf="isAdmin && !ingredient.active" class="btn float-right ingredientsButton" type="button" title="Activate" (click)="enable(ingredient)">
							<i class="fa fa-toggle-off"></i>
						</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


<app-ingredient-add *ngIf="isLoggedIn"></app-ingredient-add>
