
.ingredients a {
  text-align: center;
  vertical-align: bottom;
  width: 250px;
}

.ingredients a:hover {
  color:#607D8B;
}


.ingredientsButton:hover {
  background-color: #cfd8dc;
}

.addIngredients {
  margin-top: 25px;
  margin-left: 30px;
  width: 250px;
}

label {
  color: #607D8B;
  font-weight: bold;
}

li.borderless {
  border: 0 none;
  margin-top: 0px;
}