<h2 md-dialog-title>Please add ingredients to your Recipe. </h2>
<p>You are allowed to choose multiple options.</p>

<div class="jumbotron">
  <form [formGroup]="addedIngredientsForm">
  <mat-form-field>
    <mat-label>Ingredients</mat-label>
    <mat-select  formControlName="addedIngredients" required multiple>
      <mat-select-trigger>
        {{addedIngredientsForm.controls['addedIngredients'].value ? addedIngredientsForm.controls['addedIngredients'].value[0].name : ''}}
        <span *ngIf="addedIngredientsForm.controls['addedIngredients'].value?.length > 1" class="addingIngredients">
          (+{{addedIngredientsForm.controls['addedIngredients'].value.length - 1}} {{addedIngredientsForm.controls['addedIngredients'].value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">{{ingredient.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  </form>
</div>

<div *ngIf="!addedIngredientsForm.controls['addedIngredients'].invalid; else elseBlock">
    <button mdbBtn type="submit" class="btn btn-primary" mdbWavesEffect
        (click)="onSubmit();">
        <i class="fa fa-plus"></i> Add
    </button>
</div>
<ng-template #elseBlock>Please fill the parameters properly.</ng-template>