<h2 md-dialog-title>Please add new comment to your Recipe. </h2>

<div class="jumbotron">
    <form>
        <div class="form-group">
            <label>Comment</label><input class="form-control" #comment />
        </div>
        <button mdbBtn type="submit" class="btn btn-primary" mdbWavesEffect
            (click)="onSubmit(comment.value); comment.value=''">
            <i class="fa fa-plus"></i> Add
        </button>
    </form>
</div>